#sudoku-game {
  background-color: #282c34;
  color: white;
}

h2 {
  color: white;
  padding: 10px;
}

tr {
  background-color: white;
}
tr:nth-child(3) td, tr:nth-child(6) td {
  border-bottom: 3px solid grey;
}
tr td:nth-child(3), tr td:nth-child(6) {
  border-right: 3px solid grey;
}
td{
  background-color: red;
  padding:3px;
  width:25px;
  height:25px;
}
.sudoku-parent{
  max-width:400px;
}


#leaderboard{
  padding-top: 10px;
}

.inline{
  width: auto;
  display:inline;
}

#sudoku-header{
  margin-bottom: 0px;
  margin-top:5px;
}

#sudoku{
  animation: 1s ease-out 0s 1 fadeIn;
}

#board{
  padding-top:10px;
}

@keyframes slideInFromLeft {
0% {
  transform: translateX(-100%);
}
100% {
  transform: translateX(0);
}
}
@keyframes fadeIn{
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

#sudoku-header:hover{
  cursor: pointer;
}

#txtShareLink{
  width: 160px;
}


.left-right-padding-5{
  padding-left:5px;
  padding-right:5px;
}


#leaderboard table tr:nth-child(1){
  color: #cc9900;
  font-weight:500;
  text-shadow: 0 0 3px white;
}

#leaderboard table tr:nth-child(2){
  color: #adad85;
  font-weight:400;
  text-shadow: 0 0 3px white;
}

#leaderboard table tr:nth-child(3){
  color: #994d00;
  font-weight:300;
  text-shadow: 0 0 3px white;
}

#leaderboard table th{
  color: #212529;
}


.scroll-x-wrapper{
  overflow-x: scroll;
}

.scroll-x{
  display: inline-block;
}

.no-scroll::-webkit-scrollbar {
   display: none;
}
