.standard-page-margins {
  padding: 10px;
}

.standard-page-styling {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.centred {
  justify-content: center;
  text-align: center;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.s3-loaded-image {
  max-width: 400px;
}

.numbered-list-margins {
  padding: 20px;
}

h2 {
  color: white;
}

.black-bg {
  word-wrap: break-word;
  background-color: black;
  height: 100%;
}

.black-bg-auto {
  height: auto;
}

.black-bg a {
  color: limegreen;
}

.black-bg a:hover {
  color: white;
}

.black-bg button {
  background-color: limegreen;
  color: black;
  border-color: black;
}

.black-bg button:hover {
  background-color: limegreen;
  border-color: black;
}

.ol-extra-margins {
  margin-left: 3rem;
  margin-right: 3rem;
  word-wrap: break-word;
}

#mc-edoegsa-page {
  overflow: hidden;
}
