.battleships-td {
  border: 1px solid black;
  width: 25px;
  height: 25px;
}

.battleships-table {
  height: 500px;
  width: 500px;
}

.battleship-selector {
  border: 2px dotted black;
  color: black;
}

.battleship-selected {
  border: 2px solid black;
  color: black;
  background: limegreen;
}
