.battleships-td {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  background-color: white;
  position: relative;
}

.battleships-td-occupied {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  background-color: orange;
  position: relative;
}

.battleships-td-p0-move {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  background-color: red;
  position: relative;
}

.battleships-td-p1-move {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  background-color: black;
  position: relative;
}

.battleships-td-occupied-span {
  position: absolute;
  inset: 5px;
}

.battleships-table {
  width: 600px;
  height: 600px;
}

.battleship-selector {
  border: 2px dotted black;
  color: black;
}

.battleship-selected {
  border: 2px solid black;
  color: black;
  background: limegreen;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .battleships-table {
    width: 350px;
    height: 350px;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .battleships-table {
    width: 350px;
    height: 350px;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .battleships-table {
    width: 600px;
    height: 600px;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
