.battleships-td {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  background-color: white;
  position: relative;
}

.battleships-td-occupied {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  background-color: orange;
  position: relative;
}

.battleships-td-p0-move {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  background-color: red;
  position: relative;
}

.battleships-td-p1-move {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  background-color: black;
  position: relative;
}

.battleships-td-occupied-span {
  position: absolute;
  inset: 5px;
}

.battleships-table {
  height: 400px;
  width: 400px;
}

.battleship-selector {
  border: 2px dotted black;
  color: black;
}

.battleship-selected {
  border: 2px solid black;
  color: black;
  background: limegreen;
}
