#root {
  background-color: #282c34;
  height: 100% !important;
}

html {
  height: 100%;
}

body {
  background-color: black !important;
  height: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rob-rendell-website {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.right-align {
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .hidden-on-mobile {
    display: none;
  }
}

.scroll-to-top {
  color: var(--bs-primary);
  cursor: pointer;
}

.black-bg .scroll-to-bottom {
  color: limegreen;
  cursor: pointer;
}

.home-page-img {
  width: 125px;
  height: 94px;
  margin: 8px;
  cursor: pointer;
}

.grow {
  transition: transform .2s; /* Animation */
}

.grow:hover {
  transform: scale(1.3);
}