.sudoku-input {
  border: none;
  width: 25px;
  padding: 3px;
  color: blue;
  text-align: center;
  background-color: transparent;
  z-index: 1;
}

.sudoku-input-disabled {
  color: black;
}

.sudoku-cell-invalid {
  color: red;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.sudoku-note {
  font-size: small;
  position: absolute;
  background-color: transparent;
  color: grey;
}

#sudoku-note-tl {
  left: 0%;
  top: 0%;
}

#sudoku-note-bl {
  left: 0%;
  bottom: 0%;
}

#sudoku-note-tr {
  top: 0%;
}

#sudoku-note-br {
  bottom: 0%;
}

.sudoku-cell-td {
  position: relative;
}
