.sudoku-input {
  border: none;
  width: 25px;
  padding: 3px;
  color: blue;
  text-align: center;
  background-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
